@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: #ff7d1a;
    --Pale-orange: #ffede0;
    --Very-vark-blue: #1d2025;
    --Dark-grayish-blue: #68707d;
    --Grayish-blue: #b6bcc8;
    --Light-grayish-blue: #f7f8fd;
    --White: #ffffff;
    /*--Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);*/
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: auto;
    padding: 0 15rem;
}

/* 
    header 
*/
.header__nav {
    display: flex;
    align-items: center;
    height: 12rem;
    border-bottom: .1rem solid #e8e8e8;
}

/* header menu */
.header__mobile-btn {
    display: none;
}

.header__menu {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    list-style: none;
}

.header__menu__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0 1.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: .3s;
}

.header__menu__link:hover {
    color: var(--Very-vark-blue);
}

.header__menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .4rem;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--Orange);
    transition: .3s;
}

.header__menu__link:hover::before {
    transform: scaleY(1);
}

/* header cart */
.header__cart {
    display: flex;
    position: relative;
    margin-left: auto;
}

.header__cart__icon-container svg path {
    transition: .3s;
}

.header__cart__icon-container:hover svg path {
    fill: var(--Very-vark-blue);
}

.header__cart__modal {
    display: none;
    position: absolute;
    width: 35rem;
    transform: translate(-50%, 40%);
    border-radius: 1rem;
    background-color: var(--White);
    box-shadow: 0 25px 40px -5px rgba(166, 167, 179, 0.7);
}

.header__cart__modal__header {
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid #e8e8e8;
}

.header__cart__modal__body {
    padding: 2.4rem 1.6rem;
}

/* header profile */
.header__profile {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
}

.header__profile::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    border-radius: 50%;
    background-color: transparent;
    transition: .3s;
}

.header__profile:hover::before {
    transform: scale(1.1);
    background-color: var(--Orange);
}

.header__profile__avatar {
    width: 100%;
    height: auto;
}
