@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: #ff7d1a;
    --Pale-orange: #ffede0;
    --Very-vark-blue: #1d2025;
    --Dark-grayish-blue: #68707d;
    --Grayish-blue: #b6bcc8;
    --Light-grayish-blue: #f7f8fd;
    --White: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    min-height: 100vh;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="top"] {
    transform: translateY(-3rem);
}

[data-anime].animate {
    opacity: 1;
    transform: translate(0, 0);
}

.no-transition {
    transition: none !important;
}

.container {
    width: 100%;
    max-width: 144rem;
    padding: 0 15rem;
    margin: auto;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.6rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Light-grayish-blue);
    background-color: var(--Orange);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: transparent;
    transition: .3s;
}

.btn:hover::after {
    background-color: rgba(255, 255, 255, .4);
}

.is-open {
    display: flex !important;
}


/* 
    header 
*/
.header__nav {
    display: flex;
    align-items: center;
    height: 12rem;
    border-bottom: .1rem solid #e8e8e8;
}

/* header menu */
.header__open-btn {
    display: none;
}

.header__menu-container {
    height: 100%;
}

.header__menu-lightBox {
    height: 100%;
    background-color: var(--White);
    transition: .3s;
}

.header__menu-container.animate .header__menu-lightBox {
    transform: translateX(0);
}

.header__menu-lightBox .header__close-btn {
    display: none;  
}

.header__menu {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    list-style: none;
}

.header__menu__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0 1.8rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: .3s;
}

.header__menu__link:hover {
    color: var(--Very-vark-blue);
}

.header__menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .4rem;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--Orange);
    transition: .3s;
}

.header__menu__link:hover::before {
    transform: scaleY(1);
}

/* header cart */
.header__cart {
    display: flex;
    margin-left: auto;
}

.header__cart-icon svg path {
    transition: .3s;
}

.header__cart-icon:hover svg path {
    fill: var(--Very-vark-blue);
}

.header__cart__count {
    position: absolute;
    transform: translate(-70%, -45%);
    padding: 0 .7rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--White);
    background-color: var(--Orange);    
}

.header__cart.is-empty .header__cart__count {
    display: none;
}

.header__cart__modal {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 36.5rem;
    z-index: 1;
    transform: translate(-50%, 5.5rem);
}

.header__cart__modal__content {
    border-radius: 1rem;
    background-color: var(--White);
    box-shadow: 0 20px 40px -10px rgba(166, 167, 179, .7);
}

.header__cart__modal__header {
    padding: 2.4rem;
    border-bottom: 1px solid #e8e8e8;
    color: var(--Very-vark-blue);
}

.header__cart__modal__title {
    font-size: 1.6rem;
    font-weight: 700;
}

.header__cart__modal__body {
    padding: 2.4rem;
    min-height: 19rem;
    height: 100%;
}

.header__cart__empty-message {
    display: none;
}

.header__cart.is-empty .header__cart__empty-message {
    display: flex;
}

.header__cart.is-empty .header__cart__modal__body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__cart__empty-message {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}

.header__cart.is-empty .header__cart__items {
    display: none;
}

.header__cart__item {
    display: flex;
    align-items: center;
    height: 5rem;
    margin-bottom: 2.4rem;
}

.header__cart__item__thumbnail-img {
    width: 5rem;
    height: auto;
    border-radius: .7rem;
}

.header__cart__item__info {
    flex: 1;
    margin-left: 1.6rem;
    height: 100%;
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
}

.header__cart__item__product-name {
    font-weight: 400;
}

.header__cart__item__price {
    display: flex;
    margin-top: .5rem;
}

.header__cart__item__qnt {
    display: flex;
    margin-left: .4rem;
}

.header__cart__item__qnt p {
    margin-left: .4rem;
}

.header__cart__item__price-total {
    color: var(--Very-vark-blue);
    margin-left: .6rem;
}

.header__cart.is-empty .header__cart__checkout-btn {
    display: none;
}

/* header profile */
.header__profile {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
}

.header__profile::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    border-radius: 50%;
    background-color: transparent;
    transition: .3s;
}

.header__profile:hover::before {
    transform: scale(1.1);
    background-color: var(--Orange);
}


/*
    Product section
*/
.product {
    margin-top: 9rem;
}

.product .container {
    display: flex;
}

/* product gallery */
.product__gallery-container {
    width: 50%;
}

.product__gallery {
    display: flex;
    flex-direction: column;
}

.product__gallery__main-img {
    position: relative;
    width: 45rem;
    margin: auto;
    cursor: pointer;
}

.product__gallery__slider {
    overflow: hidden;
    border-radius: 1rem;
}

.product__gallery__slide img {
    height: 100%;
}

.product__gallery__slider-width {
    display: flex;
    transition: .3s;
}

.product__gallery__nav {
    display: none;
}

.product__gallery__nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    top: 50%;
    background-color: var(--White);
}

.product__gallery__nav__btn::after {
    content: url('../images/icon-next.svg');
}

.product__gallery__nav__btn:hover::after {
    filter: invert(51%) sepia(100%) saturate(1392%) hue-rotate(347deg) brightness(101%) contrast(102%);
}

.product__gallery__nav__btn.prev {
    transform: translate(-50%, -50%);
}

.product__gallery__nav__btn.next {
    right: 0;
    transform: translate(50%, -50%);
}

.product__gallery__nav__btn.prev::after {
    transform: rotate(180deg) translate(.2rem, .1rem);
}

.product__gallery__nav__btn.next::after {
    transform: translate(.1rem, .2rem);
}

.product__gallery__thumbnail-list {
    display: flex;
    margin: auto;
    max-width: 45rem;
    margin-top: 3.2rem;
}

.product__gallery__thumbnail-item {
    position: relative;
    max-width: 9rem;
    max-height: 9rem;
    margin-right: 3.2rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    outline: 2px solid transparent;
}

.product__gallery__thumbnail-item img {
    border-radius: 0;
    height: 100%;
}

.product__gallery__thumbnail-item:last-child {
    margin-right: 0;
}

.product__gallery__thumbnail-item.active {
    outline-color: var(--Orange);
}

.product__gallery__thumbnail-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    transition: .3s;
}

.product__gallery__thumbnail-item:hover::after {
    background-color: rgb(255, 255, 255, .5);
}

.product__gallery__thumbnail-item.active::after {
    background-color: rgb(255, 255, 255, .7);
}

/* product lightBox */
.product__lightBox {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .7);
}

.product__lightBox__header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

.product__lightBox__close-btn {
    width: 2rem;
    height: 2.2rem;
}

.product__lightBox__close-btn:hover {
    filter: invert(51%) sepia(100%) saturate(1392%) hue-rotate(347deg) brightness(101%) contrast(102%);
}

.product__lightBox .product__gallery__nav {
    display: flex;
}

.product__lightBox .product__gallery__main-img {
    width: 55rem;
    cursor: default;
}

/* product info */
.product__info {
    width: 50%;
    padding: 6.4rem;
}

.product__info__company {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: var(--Orange);
}

.product__info__name {
    margin-top: 2.4rem;
    font-size: 4.4rem;
    line-height: 1.1;
    color: var(--Very-vark-blue);
}

.product__info__desc {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--Dark-grayish-blue);
}

.product__info__cost-box {
    margin-top: 2.4rem;
}

.product__info__cost-box__top {
    display: flex;
    align-items: center;
}

.product__info__price-now {
    font-size: 2.8rem;
    letter-spacing: .5px;
    color: var(--Very-vark-blue);
}

.product__info__discount {
    padding: .4rem .9rem; 
    margin-left: 1.6rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Orange);
    background-color: var(--Pale-orange);
}

.product__info__price-original {
    margin-top: .8rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--Grayish-blue);
}

.product__info__buying {
    display: flex;
    margin-top: 4rem;
}

.product__info__qnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 15.5rem;
    height: 5.6rem;
    border-radius: 1rem;
    background-color: var(--Light-grayish-blue);
}

.product__info__qnt__btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 1.6rem;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}

.product__info__qnt__btn:hover {
    opacity: .6;
}

.product__info__qnt__count {
    font-size: 1.6rem;
    font-weight: 700;
}

.product__info__add-btn {
    margin-left: 1.6rem;
    box-shadow: 0 5px 30px 0 rgba(255, 125, 26, .4);
}

.product__info__add-btn::before {
    content: '';
    width: 1.8rem;
    height: 1.6rem;
    background-image: url('../images/icon-cart-white.svg');
    background-size: 1.8rem 1.6rem;
    margin-right: 1.6rem;
}


/*
    Footer
*/
.footer {
    margin-top: 12rem;
    padding-bottom: 1.6rem;
}

/* footer attribution */
.footer__attribution {
    font-size: 1.1rem;
    text-align: center;
}

.footer__link {
    font-weight: 700;
    color: var(--Orange);
}

@media (max-width: 1180px) {
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;    
    }

    .header__cart__modal {
        transform: translate(-70%, 5.5rem);
    }
    
    .product__info {
        padding-left: 3.2rem;
    }
}

@media (max-width: 900px) {
    [data-anime-md] {
        opacity: 0;
        transition: .3s;
    }

    [data-anime-md].animate {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* 
        Header
    */
    .header__open-btn {
        display: flex;
        margin-right: 1.6rem;
    }

    .header__nav {
        height: 7rem;
    }

    /* header menu */
    .header__menu-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);
        z-index: 99;
    }

    .header__menu-lightBox {
        width: 40vw;
        padding: 2.4rem;
    }

    .header__menu-lightBox {
        transform: translateX(-40vw);
    }

    .header__menu-lightBox .header__close-btn {
        display: flex;
    }

    .header__menu {
        flex-direction: column;
        margin-left: 0;
        margin-top: 3.2rem;
    }

    .header__menu__link {
        padding: 1.1rem 0;
        margin: 0;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--Very-vark-blue);
    }

    .header__menu__link:hover::before {
        transform: scale(0);
    }

    /* 
        Product section
    */
    /* product gallery */
    .product__gallery__main-img {
        width: 100%;
    }

    .product__lightBox .product__gallery__main-img {
        width: 45rem;
    }

    /* product info */
    .product__info {
       padding: 0 0 0 3.2rem;
    }

    .product__info__name {
        font-size: 2.8rem;
    }

    .product__info__buying {
        flex-direction: column;
    }

    .product__info__qnt {
        max-width: none;
    }

    .product__info__add-btn {
        margin-left: 0;
        margin-top: 1.6rem;
    }
}


@media (max-width: 750px) {
    /* header menu */
    .header__menu-lightBox {
        width: 70vw;
    }

    .header__menu-lightBox {
        transform: translateX(-70vw);
    }

    .header__cart__modal {
        width: 100vw;
        padding: 0 1rem;
        left: 0;
        transform: translate(0, 5.5rem);
    }

    .header__profile {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 2.4rem;
    }


    /*
        Product section
    */
    .product {
        margin-top: 0;
    }

    .product .container {
        flex-direction: column;
        padding: 0;
    }

    /* product gallery */
    .product__gallery-container {
        width: 100%;
        padding-left: 0;
    }

    .product__gallery__main-img {
        width: 100vw;
        cursor: default;
    }

    .product__gallery__slider {
        border-radius: 0;
    }

    .product__lightBox.is-open {
        display: none !important;
    }


    .product__gallery__nav {
        display: flex;
    }

    .product__gallery__nav__btn.prev {
        transform: scale(.8) translate(10%, -50%);
    }

    .product__gallery__nav__btn.next{
        transform: scale(.8) translate(-10%, -50%);
    }

    .product__gallery__thumbnail-list {
        display: none;
    }

    .product__info__company {
        font-size: 1.2rem;
    }

    /* product info */
    .product__info {
        width: 100%;
        padding: 0 2.4rem;
        margin-top: 2.4rem;
    }
    
    .product__info__name {
        margin-top: 1.6rem;
    }

    .product__info__desc {
        margin-top: 1.6rem;
        font-size: 1.5rem;
    }

    .product__info__cost-box {
        display: flex;
        justify-content: space-between;
        margin-top: 3.2rem;
    }
}
