@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: #ff7d1a;
    --Pale-orange: #ffede0;
    --Very-vark-blue: #1d2025;
    --Dark-grayish-blue: #68707d;
    --Grayish-blue: #b6bcc8;
    --Light-grayish-blue: #f7f8fd;
    --White: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: auto;
    padding: 0 15rem;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.6rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Light-grayish-blue);
    background-color: var(--Orange);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: transparent;
    transition: .3s;
}

.btn:hover::after {
    background-color: rgba(255, 255, 255, .4);
}


/* 
    header 
*/
.header__nav {
    display: flex;
    align-items: center;
    height: 12rem;
    border-bottom: .1rem solid #e8e8e8;
}

/* header menu */
.header__mobile-btn {
    display: none;
}

.header__menu {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    list-style: none;
}

.header__menu__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0 1.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: .3s;
}

.header__menu__link:hover {
    color: var(--Very-vark-blue);
}

.header__menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .4rem;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--Orange);
    transition: .3s;
}

.header__menu__link:hover::before {
    transform: scaleY(1);
}

/* header cart */
.header__cart {
    display: flex;
    position: relative;
    margin-left: auto;
}

.header__cart__icon-container svg path {
    transition: .3s;
}

.header__cart__icon-container:hover svg path {
    fill: var(--Very-vark-blue);
}

.header__cart__modal {
    display: none;
    position: absolute;
    width: 35rem;
    transform: translate(-50%, 40%);
    border-radius: 1rem;
    background-color: var(--White);
    box-shadow: 0 25px 40px -5px rgba(166, 167, 179, 0.7);
}

.header__cart__modal__header {
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid #e8e8e8;
}

.header__cart__modal__body {
    padding: 2.4rem 1.6rem;
}

/* header profile */
.header__profile {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
}

.header__profile::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    border-radius: 50%;
    background-color: transparent;
    transition: .3s;
}

.header__profile:hover::before {
    transform: scale(1.1);
    background-color: var(--Orange);
}

.header__profile__avatar {
    width: 100%;
    height: auto;
}


/*
    Product section
*/
.product {
    margin-top: 9rem;
}

.product .container {
    display: flex;
}

/* product images */
.product__gallery-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.product__gallery {
    width: 100%;
}

.product__main-image-container {
    position: relative;
    max-width: 45rem;
    margin: auto;
}

.product__main-image {
    width: 100%;
    height: auto;
    border-radius: 1.6rem;
}

.product__gallery__nav {
    display: none;
}

.product__gallery__nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    top: 50%;
    background-color: #ffffff;
}

.product__gallery__nav__btn::after {
    content: url('../images/icon-next.svg');
}

.product__gallery__nav__btn:hover::after {
    filter: invert(51%) sepia(100%) saturate(1392%) hue-rotate(347deg) brightness(101%) contrast(102%);
}

.product__gallery__nav__btn.prev {
    transform: translate(-50%, -50%);
}

.product__gallery__nav__btn.next {
    right: 0;
    transform: translate(50%, -50%);
}

.product__gallery__nav__btn.prev::after {
    transform: rotate(180deg) translate(.2rem, .1rem);
}

.product__gallery__nav__btn.next::after {
    transform: translate(.1rem, .2rem);
}

.product__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .7);
}

.product__modal__header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

.product__modal__close-btn {
    width: 2rem;
    height: 2.2rem;
}

.product__modal__close-btn img {
    width: 100%;
    height: auto;
}

.product__modal__close-btn:hover {
    filter: invert(51%) sepia(100%) saturate(1392%) hue-rotate(347deg) brightness(101%) contrast(102%);
}

.product__modal .product__gallery__nav {
    display: flex;
}

.product__modal .product__main-image-container {
    max-width: 55rem;
    cursor:default;
}

.product__thumbnail-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 45rem;
    margin-top: 3.2rem;
}

.product__thumbnail-item {
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.product__thumbnail-item.active {
    outline: 2px solid var(--Orange);
}

.product__thumbnail-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    transition: .3s;
}

.product__thumbnail-item:hover::after {
    background-color: rgb(255, 255, 255, .5);
}

.product__thumbnail-item.active::after {
    background-color: rgb(255, 255, 255, .7);
}

.product__thumbnail-img {
    width: 100%;
    height: auto;
}

/* product info */
.product__info {
    width: 50%;
    padding: 6.4rem;
}

.product__company {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: var(--Orange);
}

.product__title {
    margin-top: 2.4rem;
    font-size: 4.4rem;
    line-height: 1.1;
    color: var(--Very-vark-blue);
}

.product__desc {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--Dark-grayish-blue);
}

.product__cost-box {
    margin-top: 2.4rem;
}

.product__cost-box__top {
    display: flex;
    align-items: center;
}

.product__price-now {
    font-size: 2.8rem;
    color: var(--Very-vark-blue);
}

.product__discount {
    padding: .4rem .9rem; 
    margin-left: 1.6rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Orange);
    background-color: var(--Pale-orange);
}

.product__price-original {
    margin-top: .8rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--Grayish-blue);
}

.product__buying {
    display: flex;
    margin-top: 3.2rem;
}

.product__qnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 15.5rem;
    height: 5.6rem;
    border-radius: 1rem;
    background-color: var(--Light-grayish-blue);
}

.product__qnt__btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 1.6rem;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}

.product__qnt__btn:hover {
    opacity: .6;
}

.product__qnt__num {
    font-size: 1.6rem;
    font-weight: 700;
}

.product__add-btn {
    margin-left: 1.6rem;
    box-shadow: 0 15px 50px 0 rgba(255, 125, 26, .4);
}

.product__add-btn::before {
    content: '';
    width: 1.8rem;
    height: 1.6rem;
    background-image: url('../images/icon-cart-white.svg');
    background-size: 1.8rem 1.6rem;
    margin-right: 1.6rem;
}
